<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alicia Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alicia's professional website">
    <title>Alicia Chen</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Alicia Chen</h1>
        <nav id="myTopnav" class="topnav">
            <a href = "index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a class="active" href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form actions = "">
            <label for = "name"> Your Name (required): </label>
            <input type = "text" name = "name" id = "name" required>
            <br>
            <label for = "email"> Your Email (required): </label>
            <input type = "email" name = "email" id = "email" required>
            <br>
            <label for = "comment"> Your Comment or Question: </label>
            <textarea name = "comment" id = "comment" cols = "30" rows = "10" required></textarea>
            <input id = "button" type = "submit" value = "Send"/ onclick="validate()">
        </form>
        <p id="ValidateMsg"></p>
        <table>
            <tr>
                <th>
                    contact method
                </th>
                <th>
                    description
                </th>
            </tr>
            <tr>
                <td>email</td>
                <td><a href = "mailto:aliciach@andrew.cmu.edu">aliciach@andrew.cmu.edu</a></td>
            </tr>
            <tr>
                <td>phone</td>
                <td>425-241-6818</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href = "https://www.linkedin.com/in/alicia-c-06592b2a0" target = "_blank">Alicia Chen</a></td>
            </tr>
        </table>
    </div>

    <footer>
        <p id="copyYear">Alicia Chen &copy;</p>
    </footer>



    
</body>
</html>