<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alicia Chen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alicia's professional website">
    <title>Alicia Chen</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Alicia Chen</h1>
        <nav id="myTopnav" class="topnav">
            <a href = "index.html">Home</a>
            <a class="active" href = "cv.html">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Time
                </th>
            </tr>
            <tr>
                <td>
                    Carnegie Mellon University
                </td>
                <td>
                    pursuing a Bachelor of Science in Information Systems with a minor in computer science. 
                </td>
                <td>
                    August 2023 - May 2027
                </td>
            </tr>
            <tr>
                <td>
                    International School
                </td>

                <td>
                    high school diploma
                </td>
                <td>
                    September 2016 - June 2023
                </td>
            </tr>
            <tr>
                <td>
                    Timeless Tea
                </td>

                <td>
                    Make boba lol
                </td>
                <td>
                    May 2023 - August 2023
                </td>
            </tr>
            <tr>
                <td>
                    Titan Robotics Club CFO
                </td>

                <td>
                    manage budget, apply for grants, etc
                </td>
                <td>
                    May 2022 - May 2023
                </td>
            </tr>
            <tr>
                <td>
                    CMU Buggy Alumni Association Front-end web developer
                </td>

                <td>
                    redesigned and implemented a new website for the BAA
                </td>
                <td>
                    October 2023 - December 2023
                </td>
            </tr>
        </table>
        <a href = "../static/resume.pdf" target = "_blank">My resume, PDF version</a>
    </div>

    <footer>
        <p id="copyYear">Alicia Chen &copy;</p>
    </footer>



    
</body>
</html>